<?php
/**
 * Special vhosts localhost index
 **/

include 'indexv.fn.php';

$miscFolder = str_replace(dirname($_SERVER["SCRIPT_FILENAME"]), '', dirname(__FILE__));

?>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Index of vhosts</title>

    <style>
        @import url('<?= $miscFolder ?>/indexv.css');
    </style>
</head>
<body>
    <div class="site-wrapper">
        <h1 id="indextitle">Index of vhosts</h1>

        <table id="indexlist" >
            <!--
                will create link for project as:
                - for `/Users/[username]/Sites/develop/client/project/`
                - to `http://project.client.dev.domain.com`
            -->
            <?= createProjectTableList('develop', 'dev.domain.com'); ?>
        </table>
    </div>
</body>
</html>
