# /app/iterm
*.iterm2.plist

# /app/apache2
app/apache2/indexv/*
!app/apache2/indexv/*.sample

# /app/sublime-text
*-ca-bundle
*.cache
*.chback
*.crt
*.last-run
*.sublime-color-scheme
*.tmTheme

# /shell/git
shell/git/gituser
