packages: [
  "atom-wrap-in-tag"
  "browse"
  "busy-signal"
  "compare-files"
  "css-snippets"
  "emmet"
  "jquery-snippets"
  "language-javascript"
  "language-typescript"
  "minimap"
  "monokai"
  "multi-cursor"
  "nms-color-bracket"
  "package-sync"
  "php-twig"
  "pigments"
  "project-manager"
  "scss-snippets"
  "seti-icons"
  "string-encoder"
  "sublime-block-comment"
  "Sublime-Style-Column-Selection"
  "sublime-word-navigation"
  "tag"
  "text-manipulation"
]
